@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 200 68% 95%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 204 69% 62%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 82.9%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 215 27.9% 92.9%;
    --muted-foreground: 223.4 21.3% 34.1%;
    --accent: 282 44% 47%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 20.2% 85.1%;
    --input: 215 20.2% 85.1%;
    --ring: 204 69% 62%;
    --chart-1: 204 70% 50%;
    --chart-2: 282 44% 47%;
    --chart-3: 30 80% 55%;
    --chart-4: 160 60% 45%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 224 71.4% 4.1%;
    --sidebar-primary: 204 69% 62%;
    --sidebar-primary-foreground: 210 20% 98%;
    --sidebar-accent: 200 68% 95%;
    --sidebar-accent-foreground: 224 71.4% 4.1%;
    --sidebar-border: 215 20.2% 85.1%;
    --sidebar-ring: 204 69% 62%;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 204 69% 62%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 282 44% 47%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 204 69% 62%;
    --chart-1: 204 70% 50%;
    --chart-2: 282 44% 47%;
    --chart-3: 30 80% 55%;
    --chart-4: 160 60% 45%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 224 71.4% 4.1%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 204 69% 62%;
    --sidebar-primary-foreground: 210 20% 98%;
    --sidebar-accent: 215 27.9% 16.9%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 215 27.9% 16.9%;
    --sidebar-ring: 204 69% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
